<% provide(:title, 'Available Teams') %>
<div class="hero-unit">
  <h1 class="brand"><%= yield(:title)%></h1><hr>

  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role1</th>
      <th>Role2</th>
      <th>Role3</th>
      <th>Role4</th>
      <th>Role5</th>
      <th>Role6</th>
      <th>Role7</th>
      <th>Role8</th>
      <th>Role9</th>
      <th>Role10</th>
      <th>Rbgdate</th>
      <th>Rbghour</th>
      <th>Rbgmin</th>
      <th>Rbgzone</th>
      <th>Rbgdurationhour</th>
      <th>Rbgdurationmin</th>
      <th>Isavailable</th>
      <th>Recurs</th>
      <th>Rolesneeded</th>
      <th>Classesneeded</th>
      <th>Listed</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @teams %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
</div>