<% provide(:title, 'Available Teams') %>
<div class="hero-unit">
  <h1 class="brand"><%= yield(:title)%></h1><hr>

  <table class="table">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Game Time</th>
      <th></th>
      <th>Min CR</th>
      <th>Min ilvl</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <%= render @teams %>
  </tbody>
</table>

<hr>

<%= link_to 'New Team', new_team_path %>
</div>