<%= simple_form_for(@comp, html: { class: "form-horizontal"}) do |f| %>

  <%= f.input :listplayers, as: :text, input_html: { rows: "3" } %>

  <div class="form-actions">
    <%= f.submit "Gather Statistics" , class: "btn btn-primary" %>
  </div>
<% end %>
