<% provide(:title, 'Team Stats') %>

<table>
  <thead>
    <tr>
      <th>Listplayers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @comps %>
  </tbody>
</table>

<br>

<%= link_to 'New Comp', new_comp_path %>
