<% provide(:title, 'Live Listings') %>
<div class="hero-unit">
  <h1 class="brand"><%= yield(:title)%></h1><hr>

  <table class="table">
    <thead>
      <tr>
        <th>Character</th>
        <th>Race</th>
        <th>Class</th>
        <th>Role</th>
        <th>ilvl</th>
        <th>Current Rating</th>
        <th>PVP Power</th>
        <th width="30%">Description</th>
        <th>Added</th>
      </tr>
    </thead>

    <tbody>
      <%= render @listings %>
    </tbody>
  </table>

  <hr>
  <center>
    <%= link_to 'Join List +', new_listing_path, class: "btn btn-primary" %>
  </center>
</div>