<% provide(:title, 'Live Listings') %>
<div class="hero-unit">
  <h1 class="brand"><%= yield(:title)%></h1><hr>

  <table class="table">
    <thead>
      <tr>
        <th>Character</th>
        <th width="5%">Race</th>
        <th width="5%">Class</th>
        <th width="5%">Role</th>
        <th>iLvl</th>
        <th>CR</th>
        <th>PVP Power</th>
        <th width="30%">Additional Info</th>
        <th width="10%">BattleTag</th>
        <th>Added</th>
      </tr>
    </thead>

    <tbody>
      <%= render @listings %>
    </tbody>
  </table>
<%= will_paginate @listings %>
  <hr>
  <center>
    <%= link_to 'Join List +', new_listing_path, class: "btn btn-primary" %>
  </center>
</div>