<% provide(:title, 'Listing Added') %>

<h2 class="brand"><%= yield(:title)%></h2>

<div class="row">
    <div class="span6 offset3">
        <div class="well">
            <p>
              <%= @listing.description %>
            </p>
        </div>
    </div>
</div>

<%= render 'edit' %>
<%= render 'back' %>
