<tr>
        <td><%= teamstat.input %></td>
        <td><%= link_to 'Show', teamstat %></td>
        <td><%= link_to 'Edit', edit_teamstat_path(teamstat) %></td>
        <td><%= link_to 'Destroy', teamstat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>