<% provide(:title, 'Team Analyzer') %>
<div class="hero-unit">
	<center>
	<h1 class="brand">RBGhub.com</h1>
	<h3>World of Warcraft RBG <%= yield(:title) %></h3>
	<hr>
	</center>

	<%= render 'form' %>
</div>
