<div class="row">
	<div class="span12">
		<div class="well">
			<center>
				<%= link_to 'Edit ' + @character.name, edit_character_path(@character), class: "btn btn-success" %>
			</center>
		</div>
	</div>
</div>