@import url(http://fonts.googleapis.com/css?family=Metrophobic);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Paytone+One);
$baseFontFamily: Oxygen;
$brandFont: Paytone One;

/* Text elements */
$bodyBackground: black;
$textColor: white;
$navbarBackground: black;
$navbarBackgroundHighlight: black;
$baseBGcolor: #010131;
$btnInfoBackground: #83AEC4; 

@import 'bootstrap';
@import 'bootstrap-responsive';

body{
    padding-top: 60px;
    padding-bottom: 90px;
}


.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.navbar-fixed-bottom{
	padding-bottom: 0px;
}

.question{
  color: $btnInfoBackground;
}

.hero-unit {
    padding: 30px;
    background-color: $baseBGcolor;
}

.alert {
    background-color: $baseBGcolor;
    border: 0px;
    color: $textColor;
}

.well {
    background-color: $baseBGcolor;
    border: 0px;
}

.footer {

    margin-top: 50px;
    color: $grayLight;
}


.form-actions {
  background-color: $baseBGcolor;
}


.brand {
    font-family: $brandFont;
}

.well {
    a{
        color: black;
    }
  
}

.dk {
  background-color: rgba(195, 30, 59, 0.9);
}
.druid {
  background-color: rgba(225, 125, 10, 0.9);
}
.hunter {
  background-color: rgba(171, 212, 115, 0.9);
}

.mage {
  background-color: rgba(105, 204, 240, 0.9);
}

.monk {
  background-color: rgba(0, 255, 150, 0.9);
}

.paladin {
  background-color: rgba(245, 140, 186, 0.9);
}

.priest {
  background-color: rgba(255, 255, 255, 0.9);
}

.rogue {
  background-color: rgba(255, 245, 105, 0.9);
}

.shaman {
  background-color: rgba(0, 112, 222, 0.9);
}

.warlock {
  background-color: rgba(148, 130, 201, 0.9);
}

.warrior {
  background-color: rgba(199, 156, 110, 0.9);
}

div.appear {
    width: 250px; 
    border: #000 2px solid;
    background:#F8F8F8;
    position: relative;
    top: 5px;
    left: 5px;
    display:none;
    padding: 0 0px 00px 10px;
    z-index: 1000000;
}
div.hover  {
    cursor:pointer;
    width: 5px;
}
div.hover:hover div.appear {
    display:block;
}


/* Ribbons */
.ribbon {
    width: 90%;
    position: relative;
    background: #7ECAAD;
    color: #fff;
    text-align: center;
    padding: 1em 1em;
    margin: 2em auto 2em
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #65A58B;
    z-index: -1
}

.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent
}

.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #538C73 transparent transparent transparent;
    bottom: -1em
}

.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em
}

.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0
}

.ribbon-corner-holder {
    position: absolute;
    overflow: hidden;
    height: 10em;
    top: 0
}

.right.ribbon-corner-holder {
    right: 0
}

.left.ribbon-corner-holder {
    left: 0
}

.ribbon-corner, .ribbon-corner:hover {
    text-decoration: none !important
}

.ribbon-corner {
    font-family: 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    letter-spacing: -.1px;opacity:1;padding:0.25em 0.5em 0.25em 2.25em;text-align: center;
    position: relative;
    display: block;
    top: 2.5em;
    color: #FFF
}

.ribbon-corner .text {
    padding: 0.3em 3em
}

.right .ribbon-corner {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -3.75em
}

.left .ribbon-corner {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -2.5em
}

.white.ribbon-corner {
    color: #111
}

.white.ribbon-corner .text {
    border: 1px solid #cecece
}

.red.ribbon-corner {
    background-color: #9a0000
}

.red.ribbon-corner .text {
    border: 1px solid #bf6060
}

.green.ribbon-corner {
    background-color: #006e00
}

.green.ribbon-corner .text {
    border: 1px solid #6bac6b
}

.darkblue.ribbon-corner {
    background-color: #121621;
    color: #ecedee
}

.darkblue.ribbon-corner .text {
    border: 1px solid #53565e
}

.orange.ribbon-corner {
    background-color: #E57504
}

.orange.ribbon-corner .text {
    border: 1px solid #ebaa65
}

.gray.ribbon-corner {
    background-color: #6d6d6d
}

.gray.ribbon-corner .text {
    border: 1px solid #a4a4a4
}
