@import url(http://fonts.googleapis.com/css?family=Metrophobic);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Paytone+One);
$baseFontFamily: Oxygen;
$brandFont: Paytone One;

/* Text elements */
$bodyBackground: black;
$textColor: white;
$navbarBackground: black;
$navbarBackgroundHighlight: black;
$baseBGcolor: #010131;
$btnInfoBackground: #83AEC4; 

@import 'bootstrap';
@import 'bootstrap-responsive';

body{
    padding-top: 60px;
    padding-bottom: 90px;
}


.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.navbar-fixed-bottom{
	padding-bottom: 0px;
}

.question{
  color: $btnInfoBackground;
}

.hero-unit {
    padding: 30px;
    background-color: $baseBGcolor;
}

.alert {
    background-color: $baseBGcolor;
    border: 0px;
    color: $textColor;
}

.well {
    background-color: $baseBGcolor;
    border: 0px;
}

.footer {

    margin-top: 50px;
    color: $grayLight;
}


.form-actions {
  background-color: $baseBGcolor;
}


.brand {
    font-family: $brandFont;
}

.well-dk {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #C41F3B;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-druid {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FF7D0A;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-hunter {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ABD473;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-mage {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #69CCF0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-monk {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #00FF96;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-paladin {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #F58CBA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-priest {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-rogue {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFF569;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-shaman {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #0070DE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-warlock {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #9482C9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-warrior {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #C79C6E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

