<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
		  <small>
		  	<center>
			    <%= link_to "RBGHub.com", root_path %> © 2013
		  	</center>
		  </small>
		</div>
	</div>
</div>
